@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  color: white;
}
